.projects-page {
    right :2%;
    .text-zone {
        width: 85%;
        top: 10%;
        position: relative;
        justify-content:top;
        display: table-cell;
        max-height: 90%;
        text-align: center;
    }

}